.bookingArea{
    background-image: url(../../../image/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
}
.booking-title{
color:rgb(70, 57, 219);
}

.booking-container{
    background-image: url(../../../image/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.booking-subTitle{
    margin-bottom: 60px;
    font-size: 40px;
    color: #c60ddf;

}

.lable{
    color: #fff;
    font-size: 20px;
}

@media(max-width:688px){
    .bookingArea{
      
      
    }
}