.service-details-area{
    background-image: url(../../../image/abour-banner.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:688px){
    .service{
        margin-bottom: 30px;
    }
}