.contact-area{
    background-image: url(../../../image/contact.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.contact-form-area{
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 10px;
}

.conatct-container{
    margin: 50px 0;
}
.contact-title{
    font-size: 40px;
    color: hsl(266, 82%, 38%);
}

.contact-btn{
    font-size: 18px;
   font-weight: 400;
}

